<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HighShearMixController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <HighShearMixController.Properties.Settings>
            <setting name="WarningRange" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HazardRange" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ManualSpeed" serializeAs="String">
                <value>7.5</value>
            </setting>
            <setting name="MinimumAutoSpeed" serializeAs="String">
                <value>7.5</value>
            </setting>
            <setting name="MaxSpeed" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="TargetTemperature" serializeAs="String">
                <value>55</value>
            </setting>
            <setting name="MaxTargetTemp" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PollingInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="RecordInterval" serializeAs="String">
                <value>3</value>
            </setting>
        </HighShearMixController.Properties.Settings>
    </userSettings>
</configuration>